{{define "index.html"}}
<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
</head>

<body>
    {{template "content" .}}
    {{template "developer" .}}
</body>

</html>
{{end}}

{{define "content"}}
<form hx-post="/createDeveloper" hx-target="#result">
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="username" placeholder="Username" required>
    <input type="text" name="firstname" placeholder="First Name" required>
    <input type="text" name="lastname" placeholder="Last Name" required>
    <input type="text" name="Role" placeholder="Role" required>
    <textarea name="bio" placeholder="Bio" required></textarea>
    <button type="submit">Submit</button>
</form>

<div id="result"></div>
{{end}}

{{define "developer"}}
{{range .}}
<div>
    <h2>{{.Username}}</h2>
    <p>{{.Email}}</p>
    <p>{{.Firstname}}</p>
    <p>{{.Lastname}}</p>
    <p>{{.Role}}</p>
    <p>{{.Bio}}</p>
</div>
{{end}}
{{end}}